<div class="container mt-3">
    <div class="row">
      <div class="col-md-4" *ngFor="let user of users">
        <div class="card mb-3">
          <img src="{{user.image}}" class="card-img-top" alt="Imagen de usuario">
          <div class="card-body">
            <h5 class="card-title">{{ user.name }}</h5>
            <button (click)="viewUserDetails(user)" class="btn btn-primary">Ver detalles</button>
          </div>
        </div>
      </div>
    </div>
  
    <a href="/post-list" class="btn btn-primary">Ver publicaciones</a>
  </div>
  